*,
*::before,
*::after {margin: 0; padding: 0; box-sizing: inherit;}

html {
  font-size: 62.5%;
  font-family: 'Andale Mono', monospace, "Arial", sans-serif;
}

:root {
  --font: font-family: 'Andale Mono', monospace, "Arial", sans-serif;
}

* {
  user-select: none;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  width: 100vw;
  height: 100vh;
  background:black;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.control-panel {
  position: absolute;
  width: 30rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10%;
  background-color: #171920;
  border-radius: 1rem;
  border: 0.09rem solid #3a3f46;
  gap: 4rem;
}

.play-button, .stop-button{
  font-family: var(--font);
  color: #7d8898;
  font-size: 2.3rem;
  padding-bottom: 0.3rem;
  cursor: default;
  background: none;
  border: none;
}

.play-button:hover, .stop-button:hover {
  color: #bccae1;
  text-shadow: 0px 0px 35px #bccae1;
}

.play-button:active, .stop-button:active {
  color: #d6e5ff;
  text-shadow: 0px 0px 35px #d6e5ff;
}

.stop-button {
  display: none;
}